<footer class="bg-secondary">
  <div class="container-floyed">

      <div class="row">
          <div class="col-md">
              <div class="card-group">
                  <div class="card">

                  </div>
                  <div class="card">
                      
                  </div>
                  <div class="card">
                      
                  </div>
              </div>
          </div>
      </div>


      <div class="row p-4 mb-4">
          <div class="col-md text-center"> 
              <small class="text-light">
                  &copy; By: Ali AlThiab
              </small>
          </div>
      </div>

  </div>
  
</footer>