{% extends "base/base.html" %}
{% block title %}Create Product{% endblock title %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}

            <fieldset class="form-group mr-1">
                <legend class="border-bottom mt-4">A New Product</legend>
                {{ form|crispy }}
                
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info " type="submit">Confirm</button>
            </div>
        </form>
    </div>
{% endblock content %}